.cell {
    display: inline-block;
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 5px;

}

#reset {
    color: ;
    background-color: red;

}

h1 {
    font-size: 60px;
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

p {
    text-align: center;
    font-size: 30px;
}